{% extends 'core/base.html' %}
{% load static%}

{% block css %}
  
{% endblock %}

<!-- INICIO CONTENIDO-->
{% block contenido %}

<!-- Contenido -->

<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
  <div class="text-center text-black">
    <br>
    <h3>Mantenedor Adultos Mayores</h3>
    <h6>En esta pagina podrás administrar las cuentas</h6>
  </div>
  <br>
  <form method="get" action="{% url 'buscarad' %}">
    <label for="id_busqueda">Buscar por Rut:</label>
    <br>
    <input type="text" name="id_busqueda">
    <button type="submit" class="btn btn-verde">Buscar</button>
    <br>
    <label for="id_busqueda">Sin puntos con guión.</label>
    
  </form>
  <br>
  <a href="{% url 'registrar' %}" class="btn btn-verde">Crear nueva cuenta</a>
  <br>
</div>
  <!-- Fin Contenido -->

  {% endblock %}
  <!-- FIN CONTENIDO -->
  {% block js %}
  
  {% endblock %}